/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: lato, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
         rgba(231, 197, 6, 0.5),
         rgba(40, 180, 70, 0.5)),
        url(../img/bible2.jpg);
    background-size: cover;
    background-position: top;
    
    clip-path: polygon(0 0, 99% 0, 100% 71%, 0% 100%);
}